<!DOCTYPE html>
<html lang="en">
	<head>
		<% include head %>
		<title><%= title %></title>
	</head>
	<body>
		<header>
			<h1><%= title %></h1>
		</header>
		<main>
			<div class="button-container">
				<a href="<%= category.url %>/update" class="button">UPDATE</a>
				<a href="<%= category.url %>/delete" class="button warning">DELETE</a>
			</div>
			<p><%= category.description %></p>
			<% if (items.length > 0) { %>
			<ul>
				<% items.forEach(item => { %>
				<li>
					<a href="<%= item.url %>"><%= item.name %></a>
				</li>
				<% }) %>
			</ul>
			<% } else { %>
			<p>This category doesn't have any items yet.</p>
			<% } %>
		</main>
	</body>
</html>
