<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<title><%= title %></title>
	</head>
	<body>
		<header>
			<h1><%= title %></h1>
			<a href="/categories/create" class="button">NEW CATEGORY</a>
		</header>
		<main>
			<div class="category-container">
				<% categories.forEach(category => {%>
				<a
					href="<%= category.url%>"
					class="category"
					style="
						background: <%= gradient[Math.floor(Math.random() * gradient.length)
							] %>;
					"
				>
					<%= category.name%>
				</a>
				<% }) %>
			</div>
		</main>
	</body>
</html>
