<!DOCTYPE html>
<html lang="en">
	<head>
		<% include head %>
		<title><%= title %></title>
	</head>
	<body>
		<header>
			<% include navBar %>
			<h1><%= title %></h1>
		</header>
		<main>
			<div class="button-container">
				<a href="<%= item.url %>/update" class="button">UPDATE</a>
				<a href="<%= item.url %>/delete" class="button warning">DELETE</a>
			</div>
			<p>Description: <%= item.description %></p>
			<p>Price: $<%= item.price %></p>
			<p>Number in stock: <%= item.numberInStock %></p>
			<p>
				Category:
				<a href="<%= item.category.url %> "><%= item.category.name %></a>
			</p>
		</main>
	</body>
</html>
